* { margin: 0; padding: 0; }
body { font: 14px/1.4 Georgia, Serif; background: url(../images/bg.jpg); color: white; }

header h1 a { color:#fff; text-decoration:none; padding:1rem 2rem; display:inline-block; }

h1 { font-size: 36px; }
h2 { font-size: 30px }
h3 { font-size: 24px }
a:focus { outline: 0; }

.message { margin: 15px 0; padding: 10px; -moz-border-radius: 20px; -webkit-border-radius: 20px; font-size: 15px; }
.warning { background: #ffd5d5; border: 3px solid #ff3939; color: #ff3939; }
.success { background: #e5ffdb; border: 3px solid #0dba32; color: #0dba32; }

label { font-size: 20px; } 

#section { background: rgba(0,0,0,0.2); padding: 20px; }
#userid { font-size: 20px; padding:8px 10px; width: 330px; }

.you {
	position: absolute;
	top: 1rem;
	right: 1rem;
	font-size: 20px;
	background: rgba(0,0,0,0.2);
	padding: 5px 10px;
}
.you span, .you a { font: italic 12px Georgia, Serif; color: #fff; }

#rooms {  }
#rooms ul { list-style: none; }
#rooms ul li { margin: 0 0 5px 0; }
#rooms li a { background: rgba(0,0,0,0.2); padding: 10px; -moz-border-radius: 10px; -webkit-border-radius: 10px; display: block; position: relative; }
#rooms li a:hover { background: none; -moz-box-shadow: 0 0 5px black; -webkit-box-shadow: 0 0 5px black; }
#rooms li a span { position: absolute; top: 3px; right: 10px; }
#rooms li a span strong { color: white; font-size: 20px; }
#rooms a { text-decoration: none; color: #4fb90f; font: 18px;}

.chat-container { margin: 0 1rem; float:right; width: 500px; position: relative; }
#chat-wrap { border: 1px solid #eee; width: 280px; float:left; }
#chat-area { height: 300px; overflow: auto; padding: 20px; background: white; }
#chat-area span { color: white; background: #333; padding: 4px 8px; -moz-border-radius: 5px; -webkit-border-radius: 8px; margin: 0 5px 0 0; }
#chat-area p { padding: 8px 0; border-bottom: 1px solid #ccc; color: #333; }

#name-area { top: 12px; right: 0; color: white; font: bold 12px "Lucida Grande", Sans-Serif; text-align: right; }   
#name-area span { color: #fa9f00; }

#send-message-area p { float: left; color: white; padding-top: 27px; font-size: 14px; }

#sendie { width: 260px; padding: 10px; margin: 5px 0 0 0; font: 12px "Lucida Grande", Sans-Serif; }

#userlist { float: right; width: 160px; height: 410px; overflow-y: scroll; }
#userlist ul { color: #fff; font-size: 18px; list-style: none; }
#userlist ul li { }
#userlist ul li.head { border-bottom: 1px solid #eee; }




/* ==========================================================================
   CAH styles.
   Here's where the real work begins
   ========================================================================== */

.game-area {
	float:left;
}
.white-cards {
	float:left;
	text-align:center;
	width:100%;
}
.black-cards {
	float:left;
	clear:left;
}

.white-card, .black-card {
	width:118px;
	height:180px;
	font-size:14px;
	margin:10px 5px;
	padding:10px;
	box-sizing:border-box;
	position:relative;
	border-radius:5px;
}
.black-card {
	background:#000;
	color:#fff;
	-webkit-transition:all 0.3s;	
	-webkit-animation: black-flip 1s;
	float:left;
}
.black-card:hover {
	top:-5px;
}

.white-card {
	width:130px;
	height:190px;
	background:#fff;
	color:#000;
	border:2px solid #bbb;
	-webkit-transition:all 0.3s;
	-webkit-animation: white-flip 0.4s;
	margin:10px auto;
}

@-webkit-keyframes black-flip {
	from { -webkit-transform:rotateY(180deg); color:#000; }
	to { -webkit-transform:rotateY(0deg); color:#fff; }
}
@-webkit-keyframes white-flip {
	from { -webkit-transform:rotateY(180deg); color:#fff; }
	to { -webkit-transform:rotateY(0deg); color:#000; }
}